
<div class="row">
    <div class="col-md-8 col-sm-offset-2">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>User</th>
              <th>Date & Time</th>
              <th>Text</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{post.user.username}}</td>
                <td>{{post.datum}}</td>
                <td>{{post.text}}</td>
                <td><button class="btn btn-success" (click)="viewDetails(post.id)" >Vidi detalje</button></td>
              </tr>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </tbody>
        </table>
        <div>
    </div>
  </div>
</div>